/* Unipack Pantone */
/* 385A98 - light blue */
/* 194798 - darker blue */
/* 14284B - darkest blue */
/*+060C17 - even darker */
/* 986A0A - yellow */
/* 4B3914 - brown */

/* Universal/generic */
body {
  color: #f0f0f0;
  background-color: #000000;
  font-family: Cambria, sans-serif;
  font-size: 11pt;
}
img {
  border-width: 0px;
}
th {
  text-align: center;
  vertical-align: middle;
}
td {
  text-align: left;
  vertical-align: baseline;
}
a {
  text-decoration: none;
  color: #986a0a;
}
a:hover {
  color: #ffffff;
}
table.header td {
  font-weight: bold;
  font-size: 150%;
  padding-top: 0px;
  padding-bottom: 0px;
}
td.page-header {
  white-space: nowrap;
}
div.section-header {
  font-weight: bold;
  font-size: 125%;
}
div.footer {
  clear: both;
  margin-top: 10px;
  text-align: center;
}
td.transparent {
  background-color: #ddeeff !important;
}
ul.contents {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
span.register {
  color: #986A0A;
}
div.box {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
div.box-title {
  font-size: 150%;
  font-weight: bold;
}
div.box p {
  margin-bottom: 0px;
}
div.box-1 {
  background-color: #14284b;
}
div.box-2 {
  background-color: #194798;
}
table table.default th, table.default th {
  background-color: #4B3914;
}
table table.default td, table.default td {
  background-color: #194798;
}
td.centre {
  text-align: center;
}

/* Home page */
ul.index-list {
  list-style-type: none;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 20px;
}

/* Disassembly pages */
table.asm-navigation {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}
table.asm-navigation td {
  background-color: #4b3914;
}
table.asm-navigation td.prev {
  width: 30%;
  text-align: left;
}
table.asm-navigation td.up {
  width: 40%;
  text-align: center;
}
table.asm-navigation td.next {
  width: 30%;
  text-align: right;
}
table.disassembly {
  width: 100%;
}
table.disassembly {
  width: 100%;
}
div.description {
  margin-top: 10px;
  font-weight: bold;
}
div.details {
  margin-bottom: 10px;
}
div.comments {
  margin-top: 10px;
  margin-bottom: 10px;
}
table.input-1, table.output-1 {
  margin-bottom: 10px;
}
table.input-1 td {
  background-color: #14284B;
}
table.output-1 td {
  background-color: #14284B;
}
table.input-1 th {
  background-color: #385A98;
}
table.output-1 th {
  background-color: #385A98;
}
td.register {
  color: #986A0A;
  width: 20px;
  text-align: center;
}
td.address-2 {
  color: #986a0a;
  padding-right: 10px;
}
td.address-1 {
  color: #385a98;
  padding-right: 10px;
  font-weight: 300;
}
td.instruction {
  color: #385a98;
  background-color: #060c17;
  white-space: pre;
  padding-right: 10px;
  font-weight: 400;
}
td.comment-11 {
  background-color: #14284B;
  width: 100%;
}
td.comment-11 {
  background-color: #14284B;
  width: 100%;
}
td.map-c-comment {
  padding-left: 0px;
}
td.comment-10 {
  width: 100%;
}
td.comment-10 {
  width: 100%;
}

/* Maps */
table.map th {
  padding: 0 0.25em;
  color: #986a0a;
  background-color: #4B3914;
}
table.map td {
  background-color: #060C17;
}
div.map-intro {
  margin-bottom: 10px;
}
table.map td.map-page-1, table.map td.map-byte-1, table.map td.map-b, td.map-w, table.map td.map-c, table.map td.map-g, table.map td.map-t, table.map td.map-s, td.map-u {
  text-align: right;
  padding: 0 0.25em;
}
table.map td.map-page-1, table.map td.map-byte-1 {
  background-color: transparent;
}
table.map td.map-b, table.map td.map-c, table.map td.map-g, table.map td.map-s, table.map td.map-t, table.map td.map-u, table.map td.map-w {
  background-color: #060C17;
}
table.map td.map-b-desc, table.map td.map-c-desc, table.map td.map-g-desc, table.map td.map-s-desc, table.map td.map-t-desc, table.map td.map-u-desc, table.map td.map-w-desc {
  background-color: #14284B;
  color: #f0f0f0;
  font-family: inherit;
  font-style: normal;
}
table.map td.map-b-desc { color: #385A98; font-style: normal; }
table.map td.map-c-desc { color: #F0F0F0; font-style: italic; }
table.map td.map-g-desc { color: #986A0A; font-style: normal; }
table.map td.map-s-desc { color: red; font-style: normal; }
table.map td.map-t-desc { color: #4B3914; font-style: normal; }
table.map td.map-u-desc { color: #194798; font-style: normal; }
table.map td.map-w-desc { color: #385A98; font-style: normal; }


/* Game status buffer */
td.map-length-1 {
  text-align: center;
}
div.map-entry-title-11 {
  font-family: Cambria, sans-serif;
  font-weight: bold;
}
div.map-entry-title-11, div.map-entry-desc-1, td.map-s-desc, td.map-u-desc {
  color: #f0f0f0;
}

/* Graphic glitches */
table.gglitch {
  border-collapse: collapse;
}
table.gglitch td {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  padding: 5px;
}

/* Changelog */
div.changelog {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
div.changelog-1 {
  background-color: #14284B;
}
div.changelog-2 {
  background-color: #bbddff;
}
div.changelog-title {
  font-size: 150%;
  font-weight: bold;
}
div.changelog-desc {
  margin-top: 5px;
}
ul.changelog {
  margin-top: 5px;
  margin-bottom: 0px;
}

tr.asm-input-header, tr.asm-output-header {display: none;}

.gallery TD { vertical-align: top; }

